@import 'config';


// CUSTOM USER STYLES & IMPORTS
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1088px;
$bg-color: #302C40;

$main-color: #ff6709;

@import 'custom';
@import 'menu';



body{
	background: #272333;
	background-image: url('../images/src/icon/triangles-top.svg'), url('../images/src/icon/triangles-bottom.svg');
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	font-family: Akrobat-Bold, Verdana, sans-serif;
	color: #fff;
	font-size: 16px;
}

.container{
	max-width: 1240px;
	min-width: 320px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
}

.container-group{
	display: block;
	max-width: 1240px;
	min-width: 320px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

@mixin reset-list(){
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-menu,
.social-list,
.info-list,
.services,
.slider__list{
	@include reset-list();
}


.container{
	background-color: #302C40;
	border-radius: 20px;
	padding:  20px;
}

@media (min-width: $tablet-width){
	.container{
		width: $tablet-width;
	}

	.container-group{
		width: $tablet-width;
	}
}

@media(min-width: $desktop-width){
	.container{
		width: $desktop-width;
	}

	.container-group{
		width: $desktop-width;
		display: flex;
	}

	.user-block{
		flex-basis: 300px;
	}

	.page-main{
		flex-basis: 930px;
	}

	.resume__wrapper{
		display: flex;
		justify-content: space-between;
	}

	.education,
	.experience{
		flex-basis: 380px;
	}

	.skills__wrapper{
		display: flex;
		justify-content: space-between;
	}

	.skills__list{
		flex-basis: 380px;
	}
}